<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VeziDateContact"></activity>
        <activity android:name=".Contacte2" />
        <activity android:name=".MagazinActivitate" />
        <activity android:name=".TopCarduri" />
        <activity android:name=".DateUtilizator" />
        <activity android:name=".Descriere" />
        <activity android:name=".Setari" />
        <activity android:name=".Despre" />
        <activity android:name=".ListaCumparaturi" />
        <activity android:name=".Oferte" />
        <activity android:name=".Carduri" />
        <activity android:name=".Cont" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>